html,
body {
    background-color: rgb(255,255,255);
    color: #000000;
}
#canvas {
    background-color: transparent;
    display: block;
    /*margin: 0 auto;*/
    width: 100%;
    max-width:500px;
    height: auto;
}
.colorpicker-component {
	margin-bottom: 1em;
}
.colorpicker-component input {
	font-size: .8em;
}
.hidden {
	display: none !default;
}